/* Sidebar Styling */
.side-nav {
  width: 250px;
  background-color: white !important;
  padding: 1rem;
  height: 100vh; /* Full viewport height */
  position: absolute; /* Fixing it to the left side */
  top: 60px; /* Ensure it starts below the header */
  left: 0; /* Align it to the left of the screen */
  z-index: 999; /* Ensure it is below the header */
  overflow-y: auto;
  font-weight: 400;
  font-size: 1.25rem;
  color: #A3AED0; /* Updated color for text */
  font-family: Arial, Helvetica, sans-serif;
  transition: margin-left 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

/* Nav List Styling */
.nav-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  font-weight: bolder;
  color: #A3AED0; /* Updated color for nav list */
}

.nav-item {
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: #A3AED0; /* Updated color for nav items */
}

/* Sub-menu Styling */
.sub-menu {
  list-style: none;
  padding-left: 20px;
  margin: 10px 0;
}

.sub-item {
  padding: 5px 15px;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #A3AED0; /* Updated color for sub-items */
}

.sub-item img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

/* .sub-item:hover {
  background-color: #eee;
} */

/* Arrow Icon Styling */
.arrow-icon {
  width: 15px;
  height: 15px;
  float: right;
}

/* Main Content Styling */
.main-content {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  margin-top: 60px; /* Ensure content doesn't go under the fixed header */
  margin-left: 250px; /* Default margin for larger screens */
  transition: margin-left 0.3s ease;
}

/* Remove default link styling */
.nav-list .nav-item a,
.sub-menu .sub-item a {
  text-decoration: none; /* Remove underline */
  color: #A3AED0; /* Updated color for links */
}

/* Prevent the link from turning blue when clicked (active state) */
.nav-list .nav-item a:focus,
.nav-list .nav-item a:active {
  outline: none; /* Remove outline on focus */
  color: #A3AED0; /* Ensure the color stays the same */
}

/* Media Queries for Responsiveness */

/* For medium-sized screens (tablets) */
@media (max-width: 1024px) {
  .side-nav {
    width: 200px; /* Reduced width for smaller screens */
  }

  .main-content {
    margin-left: 200px; /* Adjust content area to accommodate smaller sidebar */
  }
}

/* For smaller screens (mobile devices) */
@media (max-width: 768px) {
  .side-nav {
    width: 200px; /* Sidebar remains visible but narrower */
  }

  .main-content {
    margin-left: 200px; /* Adjust content area to accommodate sidebar */
  }
}
