.add-device{
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 20px 70px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    width: 600px;
    margin: auto;
    border-color: green;
}

.headerDiv{
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 20px; /* Add spacing below the header-container */
}

.andHeader{
    text-align:left;
    margin-bottom: 20px;
}
.formDiv{
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 20px 70px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: auto;
    border-width: 5px;
    border-color: green;
}

.insideHeader{
    text-decoration: underline;
}

.andForm{
    display: grid;  
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 20px 100px; /* Space between items */
}

.andForm div{
    display: flex;
    flex-direction: column;
}

.andLabel{
    font-weight: bold;
    margin-bottom: 5px;
    padding: auto 20px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button{
    /* grid-column: 3 / 3; Place the button in the middle column */
    justify-self:right; 
    /* margin: 20px auto 0; */
    margin-left: 80px;
    display: block;
    padding: 10px 40px;
    font-size: 16px;
    color: #ffffff;
    background-color: #2963b3; /* Default blue color */
    border:none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(29, 173, 31);
    color: black;
}