.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 101vw;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  height: 40px;
  margin-right: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top:-3px;
  margin-right: 20px;
  padding-bottom:13px;
  padding-top:8px;
  box-shadow:16px 8px 27px -29px #333333;
  padding-right:20px;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  padding-left:27px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #F4F7FE;
  border-radius: 49px;
  padding: 0.5rem 1rem;
  margin-left:0px;
  height: 30px;
  width:360px;
  box-shadow:0px 2px 0px -50px rgba(0,0,0,0.1);
  position: relative; /* Keep for absolute positioning of search icon */
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  background-color: transparent;
  color: #8A9EBF;
  border-radius: 49px;
  padding: 0.5rem 2rem 0.5rem 2.5rem; /* Adjusted extra padding on the right */
}

.search-input:focus {
  outline: none;
  border: none;
}


.search-icon {
  padding-left: 12px;
  position: absolute;
  left: 12px; /* Increased space between the icon and the left edge */
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.info-icon,
.notification-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}






